
.invitados{
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 350px;
    height: 150px;
    font-size: 50px;
    border-radius: 25px;

}

.trago{
    margin: 0 auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 350px;
    height: 150px;
    font-size: 50px;
    border-radius: 25px;

}

.comida{
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 350px;
    height: 150px;
    font-size: 50px;
    border-radius: 25px;

}

.musica{
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 350px;
    height: 150px;
    font-size: 50px;
    border-radius: 25px;

}
